<p>The Marquise has been murdered and its up to you to solve the case! Investigate a colourful cast of potential villains to find the murderer!</p>
<p>In this murder mystery you will chat with locals and collect clues. New clues will open new dialogue options for the cast. Keep your eyes out for yellow exclamation marks. These indicate new opportunities to uncover mysteries</p>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQyNzg2Ny84MzI1NTg4LmdpZg==/250x600/G44MGi.gif"></p>
<p>Murder of the Marquise was written over 4 days for the 2022 Love Game Jam and it's source can be found on <a href="https://gitlab.com/alexjgriffith/winter-town">GitLab</a></p>
<p> The optional theme for the Jam was <em>Earthquake</em> ... which I completely ignored (I had planed to work it into the plot but you know how things go)</p>
<p>The source is available under GPL3 and the assets developed for the game are available under CC-BY4.</p>

<hr>
<h2 class="custom-centred">The Marquise is dead!</h2>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQyNzg2Ny84MzI1MzgwLmdpZg==/original/91m5u5.gif"></p>
<div class="custom-caption"> Press <div class="custom-code">Space</div> to check his body for clues.</div>
<hr>
<h2 class="custom-centred">Check in on the locals</h2>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQyNzg2Ny84MzI1MzgxLmdpZg==/original/Z1VMr3.gif"></p>
<div class="custom-caption">Chat with Jane to see if she knows anything about the murder</div>
<hr>
<h2 class="custom-centred">Meet the Family</h2>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQyNzg2Ny84MzI1MzgyLmdpZg==/original/xvBBCu.gif"></p>
<div class="custom-caption">Here we see the Marquise's wife and stepson. They are always sooo pleasant.</div>
<hr>
<h2 class="custom-centred">Don't go wandering in the dark</h2>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQyNzg2Ny84MzI1MzgzLmdpZg==/original/Xeyp93.gif"></p>
<div class="custom-caption">Really, there is nothing there and you'll get lost</div>
<hr>
<h2 class="custom-centred">Game Controls</h2>
<ul>
    <li> <div class="custom-code">W</div> <div class="custom-code">S</div> <div class="custom-code">A</div> <div class="custom-code">D</div> or <div class="custom-code">Left</div> <div class="custom-code">Right</div> <div class="custom-code">Up</div> <div class="custom-code">Down</div> to move</li>
    <li> <div class="custom-code">Space</div> or <div class="custom-code">Enter</div> to interact</li>
    <li> <div class="custom-code">Esc</div> or <div class="custom-code">Down</div> to open the menu or close the dialogue </li>
    <li> <div class="custom-code">Delete</div> to see the Dev view </li>
</ul>
<hr>

<h2 class="custom-centred">Game Control Details</h2>
<p>Pressing the interact button will select the top option when having a conversation.</p>

<hr>
<p><img class="custom-centred" src="https://img.itch.zone/aW1hZ2UvMTQyNzg2Ny84MzI1MzgzLmdpZg==/original/Xeyp93.gif"></p>

<hr>
<h2 class="custom-centred">Credits</h2>
